from aiogram.types import ContentType

BOT_TOKEN = ''

MEDIA_CONTENT_TYPES = (
    ContentType.TEXT,
    ContentType.VIDEO,
    ContentType.VOICE,
    ContentType.AUDIO,
    ContentType.DOCUMENT,
    ContentType.PHOTO
)
